@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.Table {
    padding-top: 50px;
    display: grid;
    gap:15px;
    justify-content: center;
    color: #959494;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

td {
    padding: 0 1px 0 1px;
}

.line {

}

.day {
    display: block;
    width: 15px;
    height: 15px;
    background: #EDEDED;

}
.day:hover{
    width: 15px;
    height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.50)
}
.gradient {
    padding-left: 19px;
    display: grid;
    gap: 4px;
    grid-template-columns: 50px 15px  15px  15px  15px  15px 50px;
    align-items: center;
}

.box {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 2px;
}

.block {
    display: block;
}

.gray {
    background: #EDEDED;
}

.lightBlue {
    background: #ACD5F2;
}

.blue {
    background: #7FA8C9;
}

.darkBlue {
    background: #527BA0;
}

.blackBlue {
    background: #254E77;
    background: #254E77;
}

.title{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    gap: 35px;
    color: #959494;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




.popover-container {
    position: relative;
    display: inline-block;

}

.popover-trigger {
    cursor: pointer;
}

.popover-content {
    width: 140px;
    z-index: 100;
    position: absolute;
    top: -63px;
    left: -40px;
    border-radius: 3px;
    background: #000;
    padding: 10px;

}
.popover-title{
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}